@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Rowdies&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Added this to overwrite the ugly input autocomplete on form*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 2px solid rgb(209 213 219);
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}

.slider-container {
  align-items: center;
  background: black;
  display: flex;
  justify-content: center;
}

.slider {
  background: black;
  height: 375px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1140px;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    #000000 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: calc(250px * 18);
}

.slider .slide-track:hover {
  animation-play-state: paused;
}

.slider .slide {
  height: 375px;
  width: 250px;
}

.slide:nth-child(1),
.slide:nth-child(10) {
  background-color: yellow;
}

.slide:nth-child(2),
.slide:nth-child(11) {
  background-color: rgb(255, 127, 80);
}

.slide:nth-child(3),
.slide:nth-child(12) {
  background-color: blue;
}

.slide:nth-child(4),
.slide:nth-child(13) {
  background-color: red;
}

.slide:nth-child(5),
.slide:nth-child(14) {
  background-color: orange;
}

.slide:nth-child(6),
.slide:nth-child(15) {
  background-color: purple;
}

.slide:nth-child(7),
.slide:nth-child(16) {
  background-color: pink;
}

.slide:nth-child(8),
.slide:nth-child(17) {
  background-color: navy;
}

.slide:nth-child(9),
.slide:nth-child(18) {
  background-color: lime;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

.animate-scroll {
  animation: scroll 80s linear infinite;
}

.hover\:animate-none:hover {
  animation-play-state: paused;
}
body.modal-open {
  overflow: hidden;
}
